.default
   padding-left: 20px
   width: 100vw
   justify-content: center

.content
  min-height: calc(100vh - 30px)
  padding-top: 20px
  margin-right: 1vw

  width: 98vw

.footer-position
   margin-top: 30px
 	bottom: 0