/*.container{
	display: flex;
    justify-content: center;
    align-items: center;

}
.row{
	display: flex;

}
.cell{
	width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

}
body{
	display: flex;
	background-color: lightgrey;
	justify-content: center;
}*/

.cell{
	width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*.grid .cell {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.grid {
    flex-direction: column;
}

.grid > div {
    display: flex;
}

.game-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
	display: flex;
	justify-content: center;
}

ul{
	padding: 0;
}
