.paper
  text-align: center !important
  overflow: auto !important
  header
    width: 100% !important

.templete-appbar
  overflow: auto !important

.tab-content
  text-align: center
  overflow: auto !important