
body{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.progress{
	width: 100%;
	height: 20px;
	background-color: lightgrey;

}
.bar{
	width: 0.1%;
	height: 20px;
	/*background-color: green*/
	background-image: linear-gradient(to right, #81D9FD , #C2A4FA);
}